<div class=" intro-2">
  <div class="full-bg-img flex-center">
    <div class="container text-center white-text wow fadeInUp" style="height: 500px">
    </div>
  </div>
</div>


<div class="card-deck m-4">
  <div class="card cardButton">
    <div class="view overlay">
      <img class="card-img-top" src="../../../assets/sport.jpg"
           alt="Card image cap">
      <a routerLink="/categories/3">
        <h4 class="text">Sport News</h4>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  </div>
  <div class="card cardButton">
    <div class="view overlay">
      <img class="card-img-top" src="../../../assets/politics.jpg" alt="Card image cap">
      <a routerLink="/categories/1">
        <h4 class="text">Political News</h4>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

  </div>

  <div class="card cardButton">
    <div class="view overlay">
      <img class="card-img-top" src="../../../assets/science.jpg"
           alt="Card image cap">
      <a routerLink="/categories/2">
        <h2 class="text">Science News</h2>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  </div>
</div>

<div class="container mb-5 py-5" id="info">
  <!--Section: Content-->
  <section class="text-center px-md-5 mx-md-5 dark-grey-text">

    <!--Grid row-->
    <div class="row d-flex justify-content-center">

      <!--Grid column-->
      <div class="col-lg-12">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores deleniti explicabo voluptatem quisquam nulla asperiores aspernatur aperiam voluptate et consectetur minima delectus, fugiat eum soluta blanditiis adipisci, velit dolore magnam.</p>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->
  </section>
  <!--Section: Content-->
</div>



<div class="card-columns">
  <div class="card">
    <img class="card-img-top" src="../../../assets/text2.jpg" alt="Card image cap" >
    <div class="card-body">
      <p class="card-text">The Big Bang Theory had been a hit since it first came onto the airwaves in 2007, earning blockbuster ratings, seven Emmy awards, and its own spin-off, Young Sheldon.</p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>The Big Bang Theory promises exciting ends and new beginnings in hour-long two-part series finale</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          <cite title="Source Title">Daily Mail</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../assets/text3.jpg" alt="Card image cap">

    <div class="card-body">
      <p class="card-text">The Good Doctor is an American medical drama television series based on the 2013 award-winning South Korean series of the same name.</p>
      <p class="card-text"><small class="text-muted">Last updated 2 mins ago</small></p>
    </div>
  </div>
  <div class="card bg-primary text-white text-center p-3" style="background-color: #424242 !important;">
    <blockquote class="blockquote mb-0">
      <p>The new drama, which stars Freddie Highmore as a surgeon with autism and savant syndrome, has engaged millions of viewers but critics remain skeptical.</p>
      <footer class="blockquote-footer text-white">
        <small>
          <cite title="Source Title">The Guardian</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <p class="card-text">Ahead of the series finale, a science writer who has toured the site of the 1986 nuclear disaster weighs in.</p>
      <p class="card-text"><small class="text-muted">Last updated 5 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../assets/text1.jpg" alt="Card image cap">

  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>Plenty of Fantasy in HBO’s ‘Chernobyl,’ but the Truth Is Real</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          <cite title="Source Title">The New York Times</cite>
        </small>
      </footer>
    </blockquote>
  </div>
</div>

